i {
    font-size: 5vmin;
}

.disp {
    max-width: 100vw;
}

.main-img {
    max-width: 90%;
    max-height: 100%;
}



.seller {
    display: flex;
}

.seller p {
    margin-right: 5px;
}

.review-holder, .reviewForm-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    outline: 1px solid rgba(0,0,0,.25);
    min-height: 10vh;
    padding: 5px;
}

.select-holder{
    display: flex;
}

.select-holder label {
    margin-right: 6px;
}

.review-top {
    display: flex;
    justify-content: space-between;
}

.main-img-holder {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.form-holder {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart {
    width: 85%;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 5px 0px 5px 0px;
    border-radius: 25px;
}

.left-col button {
    width: 42.5%;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: auto;
    border-radius: 25px;
}

.formBtn-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

textarea {
    min-height: 10vh;
    margin-bottom: 6px;
}


.guestsHolder {
    max-width: 100%;
}
#guests {
    width: 100%;
    /* font-size: 1rem; */
    border-radius: 25px;
}

.imgHolder {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgHolder img {
    height: 10vh;
    width: 10vh;
    margin: 5px 0px 5px 0px;
}

.info {
    width: 33%;
}

.imgs {
    display: flex;
    height: 90vh;

}
.left-col{
    width: 66%;
}

.disp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

@media (max-width: 850px) {
    .disp {
        flex-direction: column;
    }
    .left-col {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .review-holder {
        display: none;
    }

}
