.main-img {
    max-width: 90%;
    max-height: 100%;
}

.imgHolder {
    width: 10%;
}

.imgHolder img {
    max-width: 100%;
    height: auto;
}

.info {
    width: 33%
}
.imgs {
    display: flex;
    max-height: 90vh;
}

.disp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
