.cart {
    display: flex;
    justify-content: space-around;
}

.checkout {
    outline: 1px solid rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    margin-top: 6px;
    min-width: 15vw;
    justify-content: space-between;
}

.horizontal-listing {
    display: flex;
    outline: 1px solid rgba(0,0,0,.25);
    width: 66vw;
    height: 33vmin;
    margin: auto;
    margin-top: 6px;
}

.chInfo {
    height: 100%;
    padding: 5px;
}



.chButton, .checkout h2 {
    align-self: center;
}

.listing-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart i {
    margin: 5px;
    cursor: pointer;
}

.title {
    text-align: center;
}

.photo-holder {
    width: 33vmin;
    height: 33vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-photo {
    max-width: 100%;
    max-height: 100%;
}
