.new-listing-holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
}
.new-listing-form {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coords {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.latLng {
    width: 100%;
}
.new-listing-photos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.photo-error{
    color: red;
}

.new-photos {
    width: 100%;
    display: flex;
}

.one-new-photo {
    width: 25%;
    height: 25vh;
    display:flex;
    flex-direction: column;
    padding: 2px;
    outline: 2px solid rgba(0,0,0,.25);
}

.one-new-photo button {
    background-color: red;
    color: white;
    font-size: small;
    border-radius: 25px;
}

.one-new-photo img{
    max-width: 100%;
    max-height: 80%;
}

.two-input-holder input {
    width: 45%;
    border-radius: 25px;
}

.new-listing-form * {
    margin-top: 3px;
}

.new-listing-form > input {
    border-radius: 25px;
    width: 100%;
}

.new-listing-form textarea {
    border-radius: 15px;
    width: 100%;
    resize: none;
    padding-left: .5vw;
}

.two-input-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submit-button {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 5px 0px 5px 0px;
    border-radius: 25px;
}

.photo-buttons {
    display: flex;
    justify-content: space-between;
}

.new-listing-photos button {
    background-color: blue;
    color: white;
    font-size: large;
    border-radius: 25px;
}
